<%=form_for [current_user,@dog] do |f|%>
    <div id= "error_explanation">
        <% if @dog.errors.any? %>
            <% @dog.errors.full_messages.each do |message| %>
        <%= message %> 
    <% end %>

        <% end %>
    </div>

    <%= render partial: 'dog_form_attr', locals: {f: f}%>
   
<%=f.submit "Submit"%>

<%end%>