<%= form_tag root_path, method: :get do %>
        <p>
            <%= text_field_tag :query, params[:query] %>
            
            <%= submit_tag "Filter by User Name", name: nil %>
        </p>
    <% end %>