<div class="site-index-div">

    <h1>Welcome <%=link_to current_user.full_name, user_path(current_user)%></h1>
    
    <%= render 'search'%>
    
    <h1>Journal Entries</h1>

    <ul>
    <%@user.each do |user|%>
        <%user.journal_entries.each do |user_entry|%>

       <li> <%=link_to user_entry.title, user_dog_journal_entry_path(user_entry.user_id, user_entry.dog_id, user_entry.id)%> by <%=link_to user.full_name, user_path(user)%></li><br>

        <%end%>
    <%end%>
    </ul>

</div>
